* {
  /* border: 1px red solid; */
}
.hero-vid {
  margin-top: 3rem;
  border-radius: 16px;
  max-width: 100%;
  border: 1px whitesmoke solid;
}

.nav-logo {
  margin-top: 45px !important;
  transform: scale(2.5);
  width: 60px;
  height: 60px;
  /* border: 1px red solid; */
}

.red {
  border: 1px red solid;
}

.warning {
  width: 54%;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  position: fixed;
  padding: 8px;
  bottom: 20px;
  font-size: 14px;
}

input[type="file"] {
  color: white;
  background: #fd6602ce;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 4px solid #fd660281;
  cursor: pointer;
}

.file-upload-btn {
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  color: #fff;
  background: #fd6602;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #fd660281;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

input[type="file"]:hover,
.file-upload-btn:hover {
  background: #fd6602be;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

input[type="file"]:active,
.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

@media screen and (max-width: 602px) {
  .nav-logo {
    margin-top: 30px;
    margin-left: 30px;
    transform: scale(2.5);
    width: 40px;
    height: 40px;
  }
}

.login-page-styles {
  /* padding: 3rem 0px !important; */
}

.splide__slide img {
  border-radius: 20px;
}

.splide__arrow {
  opacity: 0;
}
.my-slider-progress {
  background: #ccc;
  width: 90%;
}

.splide__pagination {
  display: none;
}

.my-slider-progress-bar {
  background: rgb(255 103 0);
  height: 2px;
  width: 0;
  animation: loop-slider 6s infinite;
}
@keyframes loop-slider {
  0% {
    width: 100%;
  }
  24% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  49% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  74% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  99% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
.property-hero {
  background-image: url(/top\ bar/proprty-hero-bg.webp);
  height: 55vh;
  width: 100vw;
  background-repeat: no-repeat;
  /* background-position: center; */
  /* background-size: cover; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* object-fit: cover; */
  /* border: 1px red solid; */
}
.property-hero > *:not(.navoir, .property-cat) {
  display: inline;
  /* border: 1px red solid; */
}

.property-hero .active {
  border-bottom: 2px solid #ff6700;
  /* border-bottom: 2px solid #fd6602; */
  font-weight: bold;
  color: #050b82;
}
.property-hero .text-xl {
  font-size: larger !important;
}

.button {
  width: 100%;
  width: 160px;
  height: 48px;
  margin-top: 1.2rem;
  color: #fff;
  background: #fd6602;
  border: none;
  /* padding: 7px 14px; */
  text-align: center;
  border-radius: 10px;
  border-bottom: 4px solid #fd660281;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}
.property-cat {
  /* border-radius: 120px; */
  width: 90%;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: rgba(245, 245, 245, 0.6);
  backdrop-filter: blur(5px);
  margin: 4rem auto;
  justify-content: space-evenly;
  box-shadow: 0px 9px 22px gainsboro;
  /* max-height: 46vh; */
  flex-wrap: wrap;
}

.property-cat div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 29px;
  aspect-ratio: 1/1;
  /* background-color: gainsboro; */
  min-width: 90px;
  max-width: 90px;
  /* box-shadow: 0px 0px 2px gainsboro inset; */
}
.property-cat span {
  font-size: 12px;
}
.property-cat div:hover {
  /* background-color: #fd6602; */
  transition: all 400ms;
  /* color: #ffffff;
  */
  cursor: pointer;
  transform: scale(1.12);
  /* box-shadow: 0px 0px 12px gainsboro, 0px 0px 12px #36312e; */
}
.property-cat img {
  height: 36px;
  margin-bottom: 5px;
  aspect-ratio: 1/1;
}

/*  */

/* body {
  background-color: mintcream;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
.card {
  max-width: 30em;
  flex-direction: row;
  background-color: #696969;
  border: 0;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
  margin: 3em auto;
}
.card.dark {
  color: #fff;
}
.card.card.bg-light-subtle .card-title {
  color: dimgrey;
}

.card img {
  max-width: 95%;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
}
.card-body {
  display: flex;
  justify-content: space-between;
}
.text-section {
  max-width: 60%;
}
.cta-section {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.cta-section .btn {
  padding: 0.3em 0.5em;
  /* color: #696969; */
}
.card.bg-light-subtle .cta-section .btn {
  background-color: #898989;
  border-color: #898989;
}
@media screen and (max-width: 475px) {
  .card {
    font-size: 0.9em;
  }
}
