* {
  /* border: 1px red solid; */
}
.hero-vid {
  margin-top: 3rem;
  border-radius: 16px;
  max-width: 100%;
  border: 1px whitesmoke solid;
}

.nav-logo {
  margin-top: 45px !important;
  transform: scale(2.5);
  width: 60px;
  height: 60px;
  /* border: 1px red solid; */
}

.red {
  border: 1px red solid;
}

.warning {
  width: 54%;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  position: fixed;
  padding: 8px;
  bottom: 20px;
  font-size: 14px;
}

input[type="file"] {
  color: white;
  background: #fd6602ce;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 4px solid #fd660281;
  cursor: pointer;
}

.file-upload-btn {
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  color: #fff;
  background: #fd6602;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #fd660281;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

input[type="file"]:hover,
.file-upload-btn:hover {
  background: #fd6602be;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

input[type="file"]:active,
.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

@media screen and (max-width: 602px) {
  .nav-logo {
    margin-top: 30px;
    margin-left: 30px;
    transform: scale(2.5);
    width: 40px;
    height: 40px;
  }
}

.login-page-styles {
  /* padding: 3rem 0px !important; */
}

.splide__slide img {
  border-radius: 20px;
}

.splide__arrow {
  opacity: 0;
}
.property-hero {
  background-image: url(../../proprty-hero-bg.webp);
  height: 107vh;
  width: 100vw;
  background-repeat: no-repeat;
  /* background-position: center; */
  /* background-size: cover; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* object-fit: cover; */
  /* border: 1px red solid; */
}
.property-hero > *:not(.navoir, .property-cat) {
  display: inline;
  /* border: 1px red solid; */
}

.property-hero .active {
  border-bottom: 2px solid #ff6700;
  /* border-bottom: 2px solid #fd6602; */
  font-weight: bold;
  color: #050b82;
}
.property-hero .text-xl {
  font-size: larger !important;
}

.property-hero .content {
  margin-left: 5rem;
}

.button {
  width: 100%;
  width: 160px;
  height: 48px;
  margin-top: 1.2rem;
  color: #fff;
  background: #fd6602;
  border: none;
  /* padding: 7px 14px; */
  text-align: center;
  border-radius: 10px;
  border-bottom: 4px solid #fd660281;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}
.property-cat {
  border-radius: 120px;
  width: 90%;
  max-height: 120px;
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: rgba(245, 245, 245, 0.6);
  backdrop-filter: blur(5px);
  margin: 8rem auto;
  justify-content: space-evenly;
  box-shadow: 0px 9px 22px gainsboro;
}

.property-cat div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 999px;
  aspect-ratio: 1/1;
  background-color: gainsboro;
  min-width: 70px;
  max-width: 70px;
  box-shadow: 0px 0px 12px gainsboro inset;
}
.property-cat span {
  font-size: 12px;
}
.property-cat div:hover {
  /* background-color: #fd6602; */
  transition: all 400ms;
  color: #ffffff;
  transform: scale(1.08);
  box-shadow: 0px 0px 12px gainsboro, 0px 0px 18px gainsboro;
}
.property-cat img {
  height: 20px;
  aspect-ratio: 1/1;
}
